@keyframes float {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-15px); }
  100% { transform: translateY(0px); }
}

.animate-float {
  animation: float 4s ease-in-out infinite;
}

.animate-float-slow {
  animation: float 8s ease-in-out infinite;
}

@keyframes bounce-slow {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-6px); }
}
.animate-bounce-slow {
  animation: bounce-slow 2s infinite;
}

nav a.active {
  color: #86efac; /* hijau lebih menonjol */
}

nav a.active span {
  width: 100% !important;
}

.grecaptcha-badge {
  visibility: hidden;
}

.grecaptcha-badge:hover {
  width: 256px !important;   /* tampil penuh saat dihover */
}



